{% raw %}
# PostgreSQL
POSTGRES_DB={{DB_NAME}}
POSTGRES_USER=postgres
POSTGRES_PASSWORD={{DB_PASSWORD}}

# Backend
DEBUG=True
CORS_ORIGINS=["http://localhost:3000"]

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8000

{% endraw %}
