{% raw %}
overview:
  description: "{{ config.project.name }} CLI and code generation system"
  key_files: []
  total_files: 0
  last_updated: "{{ '{{' }} now().strftime('%Y-%m-%d') {{ '}}' }}"

core_implementation:
  # To be populated by self-improve

key_operations:
  # To be populated by self-improve

best_practices:
  # To be populated by self-improve

{% endraw %}
